*{
     margin: 0;
     box-sizing: border-box;
}
body{
     background-color: rgba(181, 179, 179, 0.582);
     font-family: 'Open Sans', sans-serif;
}



.hcontainer{
     height: 100px;
     background-color: white;
     
}

.logo{
     vertical-align: middle;
     width: 60px;
    margin-left: 50px;
}
.titolo{
     margin-left: 10px;
     vertical-align: middle;
     line-height: 100px;
     font-size:30px
     
}




nav{
     background-color: white;
     width: 70%;
margin: 0px auto;
height: 60px;
margin-top: 50px;
}    

main{
    
     background-color: white;
     width: 70%;
margin: 5px auto;
height: 600px;
}

.bottoni{
     
     padding-left: 40px;
     padding-top: 20px;
     
}

.bottoneblu{
     color: rgb(255, 255, 255);
     background-color: rgb(18, 179, 233);
     padding: 5px;
     border: none;
     border-radius: 5px;
     margin-right: 5px;
}

.bottonebianco{
     color: rgb(163, 163, 163);
     background-color: rgb(255, 255, 255);
     padding: 5px;
    
     border-radius: 5px;
     border-color: rgb(208, 208, 208);
}

.spunta {
     height: 15px;
     vertical-align: middle;
}

.croce {
     height: 10px;
     vertical-align: middle;
}

.freccia{
     height: 15px;
     margin-right: 10px;
     margin-top: 20px;
     
}

.container{
margin-left: 50px;
padding-top: 30px;

}

span{
line-height: 2;

}
.task{
     font-size: 20px;
}

.botton{
     color: rgb(255, 255, 255);
     background-color: rgb(18, 179, 233);
     padding: 5px;
     border: none;
     border-radius: 10px;
     margin-left: 5px;
}

.blu{
     background-color: rgb(18, 179, 233);
}
.purple{
     background-color: rgb(183, 48, 241);
}
.orange{
     background-color: orange;
}
.pink{
     background-color: pink;
}
.green{
     background-color: green;
}
